.btn {
  display: inline-flex;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--plus {
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba($clr-hightlight, 0.25);
    color: var(--clr-hightlight);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    .im {
      line-height: 1;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:hover {
      box-shadow: var(--shadow);
      transform: scale(1.1);

      .im {
        transform: scale(1.15);

        backface-visibility: hidden;
      }
    }
  }

  &--close {
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--clr-grey);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

.btn-toggle-menu {
  position: fixed;
  right: 3.5vh;
  bottom: 3.5vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--clr-hightlight);
  box-shadow: var(--shadow);
  cursor: pointer;

  @include breakpoint-up(sm) {
    display: none;
  }

  span {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--clr-dark);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:nth-child(1) {
      transform: translate3d(0, -8px, 0);
    }

    &:nth-child(2) {
      transform: translate3d(0, 0, 0);
    }

    &:nth-child(3) {
      transform: translate3d(0, 8px, 0);
    }
  }

  &.active span {
    &:nth-child(1) {
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translate3d(0, 0, 0) scale(0.1, 1);
    }

    &:nth-child(3) {
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }
}
