.card {
  display: flex;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: var(--shadow-light);

  @include breakpoint-up(sm) {
    padding: 1.5rem;
  }

  &__img {
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 6px;

    @include breakpoint-up(sm) {
      margin-right: 2rem;
      width: 150px;
      height: 150px;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .btn--plus {
      align-self: flex-end;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-family: var(--ff-heading);

    h4 {
      font-size: 1.175rem;

      @include breakpoint-up(sm) {
        font-size: 1.45rem;
        line-height: 1.34;
      }

      small {
        display: block;
        font-size: 75%;
        margin-top: 0.25rem;
        color: var(--clr-grey);
      }
    }
  }

  &__price {
    display: inline-flex;
    margin-left: 1rem;
    font-weight: 600;

    @include breakpoint-up(sm) {
      font-size: 1.25rem;
    }

    &::before {
      content: '$';
    }
  }

  &__category {
    display: flex;
    margin-bottom: 1rem;

    .icon:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}