.card {
  display: flex;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: var(--clr-light);
  box-shadow: var(--shadow);

  &__img {
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 2rem;
    width: 150px;
    height: 150px;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .btn--plus {
      margin-top: auto;
      align-self: flex-end;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: var(--ff-heading);
    margin-bottom: 1rem;

    h4 {
      font-size: 1.45rem;
      font-weight: 600;
      line-height: 1.34;

      small {
        color: var(--clr-dark-light);
        display: block;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  &__price {
    font-family: var(--ff-heading);
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 0.5rem;
    line-height: 1.5;
    display: inline-flex;

    &::before {
      content: '$';
      margin-right: 0.25rem;
      color: var(--clr-dark-light);
      font-weight: 400;
    }
  }

  &__category {
    display: flex;

    .icon:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}