.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--clr-grey-light);

  // TODO: find center with emojis
  line-height: 1;
}