.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid var(--clr-grey-light);

  @include breakpoint-up(sm) {
    justify-content: flex-end;
    padding: 1.25rem 2rem;
  }

  &__logo {
    max-width: 150px;

    @include breakpoint-up(sm) {
      display: none;
    }
  }

  &__profile {
    position: relative;
    cursor: pointer;
  }

  &__img {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}