:root {
  --clr-hightlight: #ffc914;
  --clr-black: #2e282a;
  --clr-grey: #adadad;
  --clr-grey-light: #f7f7f7;
  --clr-dark: #131923;
  --clr-dark-light: #162132;

  --shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
  --shadow-two: 0px 10px 50px rgba(0, 0, 0, 0.1);
  --shadow-light: 0 0 2rem -6px rgba(230, 234, 245, 0.89);

  --ff-heading: 'Karla', sans-serif;
  --ff-body: 'Rubik', sans-serif;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

html, body {
  min-height: 100vh;
}

body {
  // background-color: var(--clr-light);
  font-family: var(--ff-body);
  color: var(--dark);
}