.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  opacity: 0;

  &__bg {
    position: absolute;
    right: 3.5vh;
    bottom: 3.5vh;
    z-index: -1;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--clr-light);
    font-size: 4rem;
    transform: scale(0);
    transform-origin: center center;

    @include breakpoint-up(sm) {
      display: none;
    }
  }

  &__logo {
    padding: 1rem 1.5rem;

    img {
      max-width: 100%;
    }
  }

  &__list {
    display: grid;
    height: 100%;
    opacity: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;

    @include breakpoint-up(sm) {
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: initial;
      align-items: initial;
      height: auto;
    }
  }

  &__item {
    @include breakpoint-up(sm) {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__item-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--clr-dark);
    font-size: 0.84rem;
    margin: 0 auto 0.5rem;

    @include breakpoint-up(sm) {
      margin: initial;
      border: 0;
      width: 30px;
      height: 20px;
      justify-content: start;
    }
  }

  &__subitem {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-light);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    padding: 1rem;

    // @include breakpoint-up(sm) {
    //   position: relative;
    //   opacity: 1;
    //   visibility: visible;
    //   transform: translateX(0);
    // }

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__subitem-back {
    text-align: center;
    margin-bottom: 1rem;
    position: relative;

    &::after {
      content: '\e002';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: $ff-icon;
      color: var(--clr-hightlight);
    }
  }

  &__link {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-dark);
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  @include breakpoint-up(sm) {
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 300px;
    background-color: #f3f3f6;
  }
}